* {
	box-sizing : border-box;
	padding : 0;
	margin : 0;
	font-family :"Comic Sans MS", cursive, sans-serif;
	outline :none;
}

body{
	height: 100vh;
	background :black;
}

header{
	margin : 1rem 2rem;
}

header h1 {
	color:white;
}

hr{
	margin: 0 2rem;
	color : white;
}

main{
	margin : 4rem auto;
	max-width : 70%;
	text-align : center;
}

main textarea {
	font-size : 1rem;
	resize :none;
	 border-radius: 15px;
     font-weight: bold;
	padding: 10px;
}

main button{
	position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px auto;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;

	background-color:black;
	border:none;
	}
		

main button:hover{
	background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

#result{
	display:none;
	padding:0.3rem 1rem;
	width : 40%;
	margin: 3rem auto;
	
	border-radius : 5px;
	text-align : center;
	max-width : 500px;
	font-weight: bold;
}

#result p {
	font-size :1.5rem;
}

#result.positive, 
#result.negative {
	display: block;
}

#result.positive p {
color : green;

}

#result.negative p {
	color: red;
}
